.modalBackdrop {
  position: absolute; /* Changed to fixed for better responsiveness */
  top: 40px;
  left: 0;
  width: 100%;
  height: 120vh; /* Adjusted height */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Allows scrolling if content is too tall */
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gridForm {
  display: grid;
  grid-template-columns: 1fr; /* One column layout */
  gap: 15px; /* Space between form groups */
  max-height: 80vh; /* Limit modal height */
  overflow-y: auto; /* Allow vertical scrolling */
}

.formGroup {
  margin-bottom: 0; /* Remove bottom margin */
}

.formGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.formGroup input, 
.formGroup select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submitButton {
  background-color: red;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  grid-column: span 2; /* Span across both columns */
}

.closeButton {
  background-color: gray;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  grid-column: span 2; /* Span across both columns */
}

.required {
  color: red;
  margin-left: 5px;
}
