/* Sidebar.module.css */
.sidebar {
  width: 80px; 
  height: 100vh;
  background-color: #e9e9e9;
  color: #535353; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 8px;
  position: sticky;
  left: 0;
  top: 80px;
}

.sidebarMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebarItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebarItem:hover {
  background-color: red; /* Lighter red on hover */
  color: white;
  border-radius: 8px;
}

.icon {
  font-size: 24px;
}

/* Link Styling */
.link {
  color: inherit; /* Inherit color to avoid styling issues */
  text-decoration: none;
}

.active {
  background-color: red; /* Background for active link */
  color: white; /* Text color for active link */
  border-radius: 8px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .icon {
    font-size: 20px;
  }

  .sidebarItem {
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 50px;
  }

  .icon {
    font-size: 18px;
  }

  .sidebarItem {
    padding: 8px 0;
  }
}
