* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}


.rightSide {
  width: 90%;
  position: absolute;
  left: 80px;
  top: 100px;
}


@media screen and (max-width: 780px) {
  .rightSide {
    width: 80%;
    left: 50px;
  }
  
}